<div class="nav-bar" style="display: flex;justify-content:space-between">
    <div style="display: flex;">
            <h5 style="padding: 10px;font-size: 30px;cursor:pointer;">
                <a style="text-decoration: none;
                    color: white;" routerLink="/dynamic-template"
                    routerLinkActive="active">
                    HOME
                </a>
            </h5>
            <h5 style="padding: 10px;font-size: 30px;cursor:pointer;">
                <a style="text-decoration: none;
                    color: white;" routerLink="/client"
                    routerLinkActive="active">
                    Client
                </a>
            </h5>
            <h5 style="padding: 10px;font-size: 30px;cursor:pointer;">
                <a style="text-decoration: none;
                    color: white;" routerLink="/client2"
                    routerLinkActive="active">
                    Client2
                </a>
            </h5>
    </div>
    <div>
        <ul >
            <li><a routerLinkActive="active" routerLink="/page-one">Page One</a> </li>
            <li><a routerLinkActive="active" routerLink="/page-two">Page Two</a> </li>
            <li><a routerLinkActive="active" routerLink="/page-three">Page Three</a> </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
